<nav class="navbar">
  <nav class="navbar">
<div class="logo" routerLink="/">
  <span class="logo-highlight">PDF</span>low
</div>


  <ul class="nav-links">
    <li>
        <a routerLink="/merge" routerLinkActive="active-link">Unir</a>
    </li>
    <li>
        <a routerLink="/split" routerLinkActive="active-link">Dividir</a>
    </li>
    <li>
        <a routerLink="/edit" routerLinkActive="active-link">Editar(Marca de Agua)</a>
    </li>
    <li>
        <a routerLink="/convert" routerLinkActive="active-link">Imagen a PDF</a>
    </li>
  </ul>
</nav>
