<div class="welcome">
  <h1>Soluciones PDF rápidas y fáciles</h1>
</div>

<div class="grid">
  <div class="card" routerLink="/merge">
    <div class="icon">📑➕📑</div>
    <h3>Unir PDF</h3>
    <p>Combinar archivos PDF en el orden que quieras.</p>
  </div>

  <div class="card" routerLink="/split">
    <div class="icon">✂️</div>
    <h3>Dividir PDF</h3>
    <p>Extraer páginas o rangos de tu PDF.</p>
  </div>

  <div class="card" routerLink="/edit">
    <div class="icon">📝</div>
    <h3>Editar PDF</h3>
    <p>Marcas de Agua💧.</p>
  </div>

  <div class="card" routerLink="/convert">
    <div class="icon">🖼️➡️📄</div>
    <h3>Imagen a PDF</h3>
    <p>Convierte tus fotos en documentos pdf.</p>
  </div>
</div>
